body{background-color:#eee;}
input{margin-bottom:24px;height:18px;}
input[type="submit"] {border: 1px solid #666;cursor: pointer;font-size: 12px;height: 24px;padding: 0 8px;font-weight:bold;}
input, textarea{border:1px solid #ccc; padding:2px;resize:none;}
label{display:block;}
textarea{width:214px;height:234px;}

#header{background-color:#000;border-bottom:1px solid #000;height:96px;}
#nav{margin-top:-24px;min-height:48px;background-color:#363636;background-image: -moz-linear-gradient(0% 75% 90deg,#222222, #464646);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#464646), to(#222222));-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;box-shadow: 0px 1px 2px #999;-moz-box-shadow: 0px 1px 2px #999;-webkit-box-shadow: 0px 1px 2px #999;}
#nav div{margin-top:12px;margin-bottom:12px;cursor:pointer;}
#pages{margin-top:24px;padding: 23px 0;background-color:#fff;border:1px solid #ddd;}

.list div{margin-top:12px;margin-bottom:6px;}
.list img{border:1px solid #eee;display:block;margin-bottom:6px;}
.right{float:right;}
.remove_link{width:172px;text-align:center;display:inline-block;}
.buttons input[type="submit"], .buttons a{margin-top:24px;width:150px;padding:0 8px;border:1px solid #000;display:inline-block;background-color:#f0f0f0;}
.page input{width:214px;}