<header>
	<div id="nav" class="row">
	<div class="column grid_2">
	  <%= link_to "Paginas", edit_multiple_path %>
	</div>
	<div class="column grid_2">
	  <%= link_to 'Layouts', layouts_path %>
	</div>
	<div class="column grid_2">
	  <%= link_to 'Preview', preview_pages_path %>
	</div>
	<div class="column grid_2"><a href="">Publicar</a></div>
	<div class="column grid_2"><a href="">Configura&ccedil&otilde;es</a></div>        
	<div class="column grid_2"><a href="">Sair</a></div>	
	</div>
</header>
	
